body {
  background-color: #0B2434;
  margin: 0;
  font-family: 'Karla', sans-serif;
}

#root {
  display: grid;
  height: 100vh;
  place-items: center;

  main {
    background-color: #F5F5F5;
    border-radius: 10px;
    padding: 25px;
    width: 320px;
    aspect-ratio: 1;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
  }

  h1 {
    margin: 0;
    color: #2B283A;
  }

  p {
    font-family: 'Inter', sans-serif;
    font-weight: 400;
    font-size: normal;
    font-size: 13px;
    max-width: 235px;
    letter-spacing: -0.03em;
    line-height: 16px;
    margin-top: 0;
    color: #4A4E74;
    text-align: center;
  }

  .dice {
    display: grid;
    grid-template-columns: repeat(5 ,36px);
    gap: 18px;

    .die {
      display: grid;
      width: 36px;
      aspect-ratio: 1;
      place-items: center;
      box-shadow: 0px 2px 2px rgba(0, 0, 0, 0.15);
      font-family: 'Karla';
      font-weight: 700;
      font-size: 20px;
      line-height: 24px;
      border-radius: 4px;
      cursor: pointer;
      background-color: #FFFFFF;

      &.isHeld {
        background: #59E391;
      }
    }
  }

  button {
    background: #5035FF;
    color: white;
    font-style: normal;
    font-weight: 700;
    font-size: 16px;
    line-height: 20px;
    padding: 5px 20px;
    box-shadow: 0px 3.2px 7.68px rgba(0, 0, 0, 0.18);
    border-radius: 4px;
    margin-top: 25px;
  }
}
